<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>api.OpenCivic.in</title>
    
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>api.OpenCivic.in</h1>
        <p>A prototype for api.data.gov.in</p>
        <p class="view"><a href="http://github.com/orderedlist/modernist">View the Project on GitHub <small>orderedlist/modernist</small></a></p>
        <ul>
          <!--
          <li><a href="https://github.com/orderedlist/modernist/zipballmus/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/orderedlist/modernist/tarball/master">Download <strong>TAR Ball</strong></a></li>
      	  -->
          <li><a href="http://github.com/startupjockey/opencivic_api">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
        <h1>Re-mixable, re-programmable</h1>
        <p>Consistent API to liberate OpenData in a machine readable and re-mixable form that will allow developers and visualizers to interact with this critical data and build engaging applications over it in India.</p>
        <div class="highlight">
        
        <pre><span class="nb">require</span> <span class="s1">'redcarpet'</span>
<span class="n">markdown</span> <span class="o">=</span> <span class="no">Redcarpet</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="s2">"Hello World!"</span><span class="p">)</span>
<span class="nb">puts</span> <span class="n">markdown</span><span class="o">.</span><span class="n">to_html</span></pre>
        </div>
        
      </section>
    </div>
    <footer>
      <p>Project maintained by <a href="http://github.com/startupjockey">Akshay Surve</a></p>
      <p class="copyright">Theme <a href="https://github.com/jsncostello">Slate by Jason Costello</a></p>
    </footer>
  </body>
</html>